{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h2>
            Hey! Foodie ทำอะไรได้บ้าง ?
        </h2>
        <br/><br/><br/><br/>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center justify-content-center">
                    <div class="row justify-content-between">
                        <div class="col-sm-3"><img src="/media/Image/icon/dashboard.png" alt="dashboard" width="80px" height="80px"/></div>
                        <div class="col-sm-3"><img src="/media/Image/icon/order.png" alt="order" width="80px" height="80px" /></div>
                        <div class="col-sm-3"><img src="/media/Image/icon/editmenu.png" alt="editmenu" width="80px" height="80px" /></div>
                        <div class="col-sm-3"><img src="/media/Image/icon/restaurant.png" alt="restaurant" width="80px" height="80px" /></div>
                    </div>
                </div>
            </div>  
            <br/>
            <div class="row justify-content-center align-items-center">
                <div class="col text-center justify-content-center">
                    <div class="row justify-content-between">
                        <div class="col-sm-3">
                            <p><b>Dashboard</b></p>
                            <p>สามารถดูรายงาน</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>จัดการออเดอร์ลูกค้า</b></p>
                            <p>สามารถจัดการออเดอร์ของลูกค้าได้</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>แก้ไขเมนูของร้าน</b></p>
                            <p>สามารถแก้ไขเมนูของร้านได้</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>แก้ไขข้อมูลร้าน</b></p>
                            <p>สามารถแก้ไขข้อมูลของร้านได้</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container"> 
        </div>
      
    </div>
</div>
{% endblock content %}