{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="storeinfo">
            <form action="">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ชื่อร้าน</label>
                    <div class="col-sm-7">
                        {{form.storename}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">วันที่เปิดร้าน</label>
                    <div class="col-sm-7">
                        {{form.open_day}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="storeTime" class="col-sm-3 col-form-label">เวลาเปิด-ปิดร้าน</label>
                    <label for="openStore" class="col-sm-1 col-form-label">เปิด</label>
                    <div class="col-sm-2.5">
                        {{form.open_time}}
                    </div>
                    <label for="closeStore" class="col-sm-1 col-form-label">ปิด</label>
                    <div class="col-sm-2.5">
                        {{form.close_time}}
                    </div>
                </div>    

                <div class="form-group row">
                    <label for="orderTime" class="col-sm-3 col-form-label">เวลาเปิด-ปิดรับออเดอร์</label>
                    <label for="openOrder" class="col-sm-1 col-form-label">เปิด</label>
                    <div class="col-sm-2.5">
                        {{form.open_order}}
                    </div>
                    <label for="closeOrder" class="col-sm-1 col-form-label">ปิด</label>
                    <div class="col-sm-2.5">
                        {{form.close_order}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">คำโปรยของร้าน</label>
                    <div class="col-sm-7">
                        {{form.detail}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ติดต่อ</label>
                    <div class="col-sm-4"> 
                        {{form.fbpage}}
                    </div>
                    <div class="col-sm-3"> 
                        {{form.lineac}}
                    </div>
                    <br />
                    <div class="col-sm-3"> </div>
                    <div class="col-sm-4"> 
                        {{form.igac}}
                    </div>

                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ที่อยู่ของร้าน</label>
                    <div class="col-sm-7">
                        {{form.address}}
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="vertical-center">  
                <form action="{% url 'editshop_update' %}">      
                <button type="submit" class="btn btn-outline-warning btn-lg">แก้ไขข้อมูลส่วนตัว</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}